<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="com.nbchand.mbt.mapper.BankMapper">

    <resultMap id="bank_by_id" type="com.nbchand.mbt.pojo.BankResponse">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="location" column="location"/>

<!--                for one-to-many relationships use collection-->
        <collection property="customers" ofType="com.nbchand.mbt.pojo.CustomerPojo">
            <result property="id" column="c_id"/>
            <result property="name" column="c_name"/>
            <result property="location" column="c_location"/>
            <result property="accountNumber" column="account_number"/>
        </collection>

<!--        for one-to-one relationships use association-->
<!--        <association property="property_name" javaType="pojo_name">-->
<!--            <result property="property_name" column="column_name"/>-->
<!--        </association>-->

    </resultMap>


    <select id="findBankById"
            parameterType="Integer"
            resultMap="bank_by_id">
        select b.id             as "id",
               b.name           as "name",
               b.location       as "location",
               c.id             as "c_id",
               c.name           as "c_name",
               c.location       as "c_location",
               c.account_number as "account_number"
        from bank b
                 left join customer c on b.id = c.bank_id
        where b.id = #{id};
    </select>

    <select id="findAllBank"
            resultMap="bank_by_id">
        select b.id             as "id",
               b.name           as "name",
               b.location       as "location",
               c.id             as "c_id",
               c.name           as "c_name",
               c.location       as "c_location",
               c.account_number as "account_number"
        from bank b
                 left join customer c on b.id = c.bank_id;
    </select>

</mapper>